In [12]:
import sys
!{sys.executable} -m pip install numpy pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.6/site-packages (1.14.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/site-packages (0.23.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/site-packages (from pandas) (2.7.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/site-packages (from pandas) (2018.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)

In [40]:
import pandas as pd
pd.set_option('max_rows', 10)

In [41]:
# save filepath to variable for easier access
melbourne_file_path = './data/melb_data.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path) 
# print a summary of the data in Melbourne data
print(melbourne_data.describe())

              Rooms         Price      Distance      Postcode      Bedroom2  \
count  13580.000000  1.358000e+04  13580.000000  13580.000000  13580.000000
mean       2.937997  1.075684e+06     10.137776   3105.301915      2.914728
std        0.955748  6.393107e+05      5.868725     90.676964      0.965921
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.500000e+05      6.100000   3044.000000      2.000000
50%        3.000000  9.030000e+05      9.200000   3084.000000      3.000000
75%        3.000000  1.330000e+06     13.000000   3148.000000      3.000000
max       10.000000  9.000000e+06     48.100000   3977.000000     20.000000

           Bathroom           Car       Landsize  BuildingArea    YearBuilt  \
count  13580.000000  13518.000000   13580.000000   7130.000000  8205.000000
mean       1.534242      1.610075     558.416127    151.967650  1964.684217
std        0.691712      0.962634    3990.669241    541.014538    37.273762
min        0.000000      0.000000       0.000000      0.000000  1196.000000
25%        1.000000      1.000000     177.000000     93.000000  1940.000000
50%        1.000000      2.000000     440.000000    126.000000  1970.000000
75%        2.000000      2.000000     651.000000    174.000000  1999.000000
max        8.000000     10.000000  433014.000000  44515.000000  2018.000000

          Lattitude    Longtitude  Propertycount
count  13580.000000  13580.000000   13580.000000
mean     -37.809203    144.995216    7454.417378
std        0.079260      0.103916    4378.581772
min      -38.182550    144.431810     249.000000
25%      -37.856822    144.929600    4380.000000
50%      -37.802355    145.000100    6555.000000
75%      -37.756400    145.058305   10331.000000
max      -37.408530    145.526350   21650.000000

In [42]:
print(melbourne_data.head())

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode      ...       Bathroom  Car  Landsize  \
0  3/12/2016       2.5    3067.0      ...            1.0  1.0     202.0
1  4/02/2016       2.5    3067.0      ...            1.0  0.0     156.0
2  4/03/2017       2.5    3067.0      ...            2.0  0.0     134.0
3  4/03/2017       2.5    3067.0      ...            2.0  1.0      94.0
4  4/06/2016       2.5    3067.0      ...            1.0  2.0     120.0

   BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0           NaN        NaN        Yarra  -37.7996    144.9984
1          79.0     1900.0        Yarra  -37.8079    144.9934
2         150.0     1900.0        Yarra  -37.8093    144.9944
3           NaN        NaN        Yarra  -37.7969    144.9969
4         142.0     2014.0        Yarra  -37.8072    144.9941

              Regionname Propertycount
0  Northern Metropolitan        4019.0
1  Northern Metropolitan        4019.0
2  Northern Metropolitan        4019.0
3  Northern Metropolitan        4019.0
4  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [46]:
columns_of_interest = ['Address', 'Price']
two_columns_of_data = melbourne_data[columns_of_interest]
print(melbourne_data[columns_of_interest].head(10))

              Address      Price
0        85 Turner St  1480000.0
1     25 Bloomburg St  1035000.0
2        5 Charles St  1465000.0
3    40 Federation La   850000.0
4         55a Park St  1600000.0
5      129 Charles St   941000.0
6        124 Yarra St  1876000.0
7       98 Charles St  1636000.0
8  6/241 Nicholson St   300000.0
9       10 Valiant St  1097000.0
0       -37.79960
1       -37.80790
2       -37.80930
3       -37.79690
4       -37.80720
           ...
13575   -37.90562
13576   -37.85927
13577   -37.85274
13578   -37.85908
13579   -37.81188
Name: Lattitude, Length: 13580, dtype: float64

In [44]:
two_columns_of_data.describe()

              Price
count  1.358000e+04
mean   1.075684e+06
std    6.393107e+05
min    8.500000e+04
25%    6.500000e+05
50%    9.030000e+05
75%    1.330000e+06
max    9.000000e+06

In [47]:
print(melbourne_data.index)

RangeIndex(start=0, stop=13580, step=1)

In [48]:
print(melbourne_data.columns)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [53]:
print(melbourne_data.values)

[['Abbotsford' '85 Turner St' 2 ... 144.9984 'Northern Metropolitan'
  4019.0]
 ['Abbotsford' '25 Bloomburg St' 2 ... 144.9934 'Northern Metropolitan'
  4019.0]
 ['Abbotsford' '5 Charles St' 3 ... 144.9944 'Northern Metropolitan'
  4019.0]
 ...
 ['Williamstown' '83 Power St' 3 ... 144.88738 'Western Metropolitan'
  6380.0]
 ['Williamstown' '96 Verdon St' 4 ... 144.89299 'Western Metropolitan'
  6380.0]
 ['Yarraville' '6 Agnes St' 4 ... 144.88449 'Western Metropolitan' 6543.0]]

In [54]:
print(melbourne_data.sort_values(by='Address').Address.head())

7793        1 Adelle Ct
12660       1 Airlie St
13203       1 Albion Ct
1201     1 Alexander St
12213         1 Alma St
Name: Address, dtype: object

In [71]:
print("All Data")
print(melbourne_data.count())
northern_metropolitan_data = melbourne_data[melbourne_data.Regionname.isin(["Northern Metropolitan"])]

print("\n\rNorthern Data")
print(northern_metropolitan_data.count())
print(northern_metropolitan_data)

All Data
Suburb           13580
Address          13580
Rooms            13580
Type             13580
Price            13580
                 ...
CouncilArea      12211
Lattitude        13580
Longtitude       13580
Regionname       13580
Propertycount    13580
Length: 21, dtype: int64

Northern Data
Suburb           3890
Address          3890
Rooms            3890
Type             3890
Price            3890
                 ...
CouncilArea      3554
Lattitude        3890
Longtitude       3890
Regionname       3890
Propertycount    3890
Length: 21, dtype: int64
              Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13537  Roxburgh Park     8 Kennedy Pde      4    h   465000.0      S
13562      Thornbury   7 Ballantyne St      3    h  1450000.0      S
13563      Thornbury      201 Gooch St      3    h  1271000.0      S
13572       Watsonia     76 Kenmare St      2    h   650000.0     PI
13574    Westmeadows        9 Black St      3    h   582000.0      S

        SellerG        Date  Distance  Postcode      ...       Bathroom  Car  \
0        Biggin   3/12/2016       2.5    3067.0      ...            1.0  1.0
1        Biggin   4/02/2016       2.5    3067.0      ...            1.0  0.0
2        Biggin   4/03/2017       2.5    3067.0      ...            2.0  0.0
3        Biggin   4/03/2017       2.5    3067.0      ...            2.0  1.0
4        Nelson   4/06/2016       2.5    3067.0      ...            1.0  2.0
...         ...         ...       ...       ...      ...            ...  ...
13537       Ray  26/08/2017      20.6    3064.0      ...            2.0  1.0
13562  Woodards  26/08/2017       7.0    3071.0      ...            1.0  1.0
13563    Nelson  26/08/2017       7.0    3071.0      ...            1.0  2.0
13572  Morrison  26/08/2017      14.5    3087.0      ...            1.0  1.0
13574       Red  26/08/2017      16.5    3049.0      ...            2.0  2.0

       Landsize  BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0         202.0           NaN        NaN        Yarra -37.79960   144.99840
1         156.0          79.0     1900.0        Yarra -37.80790   144.99340
2         134.0         150.0     1900.0        Yarra -37.80930   144.99440
3          94.0           NaN        NaN        Yarra -37.79690   144.99690
4         120.0         142.0     2014.0        Yarra -37.80720   144.99410
...         ...           ...        ...          ...       ...         ...
13537     417.0           NaN     1999.0          NaN -37.62273   144.92567
13562     312.0           NaN        NaN          NaN -37.75870   144.99966
13563     470.0         151.0     1950.0          NaN -37.75937   145.01534
13572     210.0          79.0     2006.0          NaN -37.70657   145.07878
13574     256.0           NaN        NaN          NaN -37.67917   144.89390

                  Regionname Propertycount
0      Northern Metropolitan        4019.0
1      Northern Metropolitan        4019.0
2      Northern Metropolitan        4019.0
3      Northern Metropolitan        4019.0
4      Northern Metropolitan        4019.0
...                      ...           ...
13537  Northern Metropolitan        5833.0
13562  Northern Metropolitan        8870.0
13563  Northern Metropolitan        8870.0
13572  Northern Metropolitan        2329.0
13574  Northern Metropolitan        2474.0

[3890 rows x 21 columns]

In [ ]:
df.to_csv('foo.csv')