In [6]:
b = [1,2,3]

In [16]:
b?

In [20]:
for number in b:
    print(number)
    
for number in b:
    if number > 2:
        print(number)

1
2
3
3

In [3]:
a = "foo"
print(a.capitalize())
num = 56
num_as_str = str(num)
print(num_as_str)

Foo
56

In [9]:
True != False

True

In [10]:
5 != None

True

In [21]:
dt = datetime(2011,1,5,10)
print(dt.day)
print(dt.month)
print(dt.minute)
print(dt.year)

5
1
0
2011

In [23]:
for item in range(5,9):
    print(item)

5
6
7
8

In [24]:
list("a string")

['a', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [26]:
"true" if True else "false"
"true" if False else "false"

'false'

In [37]:
tuple1 = tuple([1,2,3])
tuple2 = 4,5
tuple3 = tuple1, tuple2

print(tuple3)
a, b = tuple3

print(a)
print(b)

((1, 2, 3), (4, 5))
(1, 2, 3)
(4, 5)

In [74]:
myArray = [1,2,3]
myArray.append(4)
myArray.insert(2,0)
print(myArray)
myArray.sort()
print(myArray)
print(len(myArray))
3 in myArray

[1, 2, 0, 3, 4]
[0, 1, 2, 3, 4]
5

True

In [58]:
# dict = (same as associative array or hash map)
empty_dict = {}
empty_dict["name"] = "Mike"
empty_dict["email"] = "mike@test.com"
empty_dict["age"] = "50"
print(empty_dict)
print(empty_dict.keys())
print(empty_dict.values())
print("email" in empty_dict)
empty_dict.pop("email")
print("email" in empty_dict)

{'name': 'Mike', 'email': 'mike@test.com', 'age': '50'}
dict_keys(['name', 'email', 'age'])
dict_values(['Mike', 'mike@test.com', '50'])
True
False

In [63]:
# set = array with no duplicates
my_set1 = set([2,3,4,3])
print(my_set1)

my_set2 = set([4,5,6])
print(my_set1 & my_set2)
print(my_set1.union(my_set2))

{2, 3, 4}
{4}
{2, 3, 4, 5, 6}

In [73]:
# Functions - Must include return otherwise will return None. Supports keyword args and defaults
def add_number(a, b):
  return a + b

def multiply_number(a, b = 5):
  return a + b

def divide_number(a, b):
  return a / b

print(add_number(5, 9))
print(multiply_number(2))
print(divide_number(b = 3, a = 15))

type(add_number)

14
7
5.0

function

In [94]:
random_numbers = np.random.randn(3,5)

print(random_numbers)
print(random_numbers.shape)

[[-1.42467329 -1.27010547 -0.79997512 -1.20952745 -0.17728024]
 [ 0.32175968  0.20773879  1.19746464  0.10882268 -0.73107554]
 [ 1.57063192  0.01406196 -0.91612118  0.4307806  -0.20907388]]
(3, 5)

In [95]:
myArray = [1,2,3,4]
numArray = np.array(myArray)
print(numArray)

np.zeros((2,6))

[1 2 3 4]

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [91]:
myArray = ["Mike", "Laura", "Steve", "Jack", "Connor", "Mike"]
np.unique(np.array(myArray))

array(['Connor', 'Jack', 'Laura', 'Mike', 'Steve'], dtype='<U6')

In [96]:
samples = np.random.normal(size=(4,4))
print(samples)b

[[ 1.42701869e+00  3.60336712e-01  2.10562507e-01 -5.65974514e-02]
 [ 9.72518410e-01 -5.07363442e-01  7.17731235e-04 -2.58310004e+00]
 [ 6.04762647e-01 -9.60237531e-01 -8.92334867e-01 -1.43786335e-01]
 [-6.93766652e-01 -2.51007661e+00  7.21510094e-01  2.37627100e-01]]

In [179]:
# Pandas - best for tabular and homogeneous data
# Series and DataFrame
# Series is one dimensional array
# DataFrame = rectuangular dataset

import pandas as pd

data = {'state': ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
       }

frame = pd.DataFrame(data, columns=["state", "pop", "year", "status"])
print(frame.head())

# sorting
print(frame.sort_values(by="pop"))

frame.status = "Unknown"
print(frame.head())

# Transpose
print(frame.T)

# drop
print(frame.drop([2,4]))

    state  pop  year status
0    Ohio  1.5  2000    NaN
1    Ohio  1.7  2001    NaN
2    Ohio  3.6  2002    NaN
3  Nevada  2.4  2001    NaN
4  Nevada  2.9  2002    NaN
    state  pop  year status
0    Ohio  1.5  2000    NaN
1    Ohio  1.7  2001    NaN
3  Nevada  2.4  2001    NaN
4  Nevada  2.9  2002    NaN
5  Nevada  3.2  2003    NaN
2    Ohio  3.6  2002    NaN
    state  pop  year   status
0    Ohio  1.5  2000  Unknown
1    Ohio  1.7  2001  Unknown
2    Ohio  3.6  2002  Unknown
3  Nevada  2.4  2001  Unknown
4  Nevada  2.9  2002  Unknown
              0        1        2        3        4        5
state      Ohio     Ohio     Ohio   Nevada   Nevada   Nevada
pop         1.5      1.7      3.6      2.4      2.9      3.2
year       2000     2001     2002     2001     2002     2003
status  Unknown  Unknown  Unknown  Unknown  Unknown  Unknown
    state  pop  year   status
0    Ohio  1.5  2000  Unknown
1    Ohio  1.7  2001  Unknown
3  Nevada  2.4  2001  Unknown
5  Nevada  3.2  2003  Unknown

In [116]:
print(frame.describe())

            pop         year
count  6.000000     6.000000
mean   2.550000  2001.500000
std    0.836062     1.048809
min    1.500000  2000.000000
25%    1.875000  2001.000000
50%    2.650000  2001.500000
75%    3.125000  2002.000000
max    3.600000  2003.000000

In [151]:
user_data = pd.read_csv("./data/users.csv")

user_data.columns

Index(['id', 'email', 'encrypted_password', 'confirmation_token',
       'remember_token', 'legacy_uuid', 'first_name', 'last_name',
       'legacy_candidate_id', 'created_at', 'updated_at', 'phone_number',
       'headline', 'facebook_username', 'linkedin_username',
       'twitter_username', 'gender', 'military_status', 'race',
       'last_signed_in_at', 'admin', 'marketable', 'legacy_resume_exists',
       'professional_networkable', 'deleted_at', 'legacy_profile_photo_exists',
       'apns_token'],
      dtype='object')

In [178]:
# data from an api
import requests
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

resp = requests.get(url)
url_data = resp.json()
url_data[0]['user']['login']

'dhimmel'

In [157]:
columns_of_interest = ["email", "last_signed_in_at"]
subset = user_data[columns_of_interest]
print(subset.describe())
print(subset.head())

# This is dropping rows, not columns
dropped = subset.dropna(how="any")
print(dropped.head())

       last_signed_in_at
count                0.0
mean                 NaN
std                  NaN
min                  NaN
25%                  NaN
50%                  NaN
75%                  NaN
max                  NaN
                   email  last_signed_in_at
0      admin@example.com                NaN
1   reviewer@example.com                NaN
2  candidate@example.com                NaN
3     user+1@example.com                NaN
4     user+2@example.com                NaN
Empty DataFrame
Columns: [email, last_signed_in_at]
Index: []

In [162]:
columns_of_interest = ["email", "last_signed_in_at"]
subset2 = user_data[columns_of_interest]

# Fill empty values
subset2.fillna(5)

# drop duplicates
print(subset2.head())
subset2.duplicated()
subset2.drop_duplicates()

                   email  last_signed_in_at
0      admin@example.com                NaN
1   reviewer@example.com                NaN
2  candidate@example.com                NaN
3     user+1@example.com                NaN
4     user+2@example.com                NaN

                     email  last_signed_in_at
0        admin@example.com                NaN
1     reviewer@example.com                NaN
2    candidate@example.com                NaN
3       user+1@example.com                NaN
4       user+2@example.com                NaN
5       user+4@example.com                NaN
6       user+5@example.com                NaN
7       user+6@example.com                NaN
8      user+18@example.com                NaN
9       user+8@example.com                NaN
10      user+3@example.com                NaN
11     user+10@example.com                NaN
12     user+11@example.com                NaN
13     user+12@example.com                NaN
14     user+14@example.com                NaN
15      user+9@example.com                NaN
16     user+16@example.com                NaN
17     user+17@example.com                NaN
18     user+23@example.com                NaN
19     user+20@example.com                NaN
20     user+15@example.com                NaN
21     user+22@example.com                NaN
22     user+24@example.com                NaN
23     user+26@example.com                NaN
24     user+21@example.com                NaN
25     user+28@example.com                NaN
26     user+29@example.com                NaN
27     user+30@example.com                NaN
28     user+32@example.com                NaN
29     user+27@example.com                NaN
..                     ...                ...
676   user+806@example.com                NaN
677   user+811@example.com                NaN
678   user+803@example.com                NaN
679   user+809@example.com                NaN
680   user+815@example.com                NaN
681   user+808@example.com                NaN
682   user+814@example.com                NaN
683   user+816@example.com                NaN
684   user+828@example.com                NaN
685   user+813@example.com                NaN
686   user+819@example.com                NaN
687   user+820@example.com                NaN
688   user+821@example.com                NaN
689   user+834@example.com                NaN
690   user+818@example.com                NaN
691   user+824@example.com                NaN
692   user+825@example.com                NaN
693   user+826@example.com                NaN
694   user+835@example.com                NaN
695   user+823@example.com                NaN
696   user+829@example.com                NaN
697   user+830@example.com                NaN
698   user+831@example.com                NaN
699   user+840@example.com                NaN
700   user+836@example.com                NaN
701   user+841@example.com                NaN
702   user+833@example.com                NaN
703   user+839@example.com                NaN
704   employer@example.com                NaN
705   user+838@example.com                NaN

[706 rows x 2 columns]

In [163]:
# Replace bad data with correct value
user_data.replace(-999, np.NAN)

,id,email,encrypted_password,confirmation_token,remember_token,legacy_uuid,first_name,last_name,legacy_candidate_id,created_at,...,military_status,race,last_signed_in_at,admin,marketable,legacy_resume_exists,professional_networkable,deleted_at,legacy_profile_photo_exists,apns_token
0,1,admin@example.com,$2a$10$T0wZEFd2JbQN85MpDv23mOIBS8lCfAvziP7dq7H...,NaN,443f399785737bd175a6ba6f9f1a0b3f6e51462f,f1bcf436-944a-48f5-8e95-25993f484359,Serena-1,Williams,1,06:30.8,...,NaN,NaN,NaN,t,f,f,t,NaN,f,token
1,3,reviewer@example.com,$2a$10$MMO0RTfsu5X.Dj.nu.eyqeLVpYTYTYZvyl6QJPd...,NaN,83f6a0a68bc21451082747617123c01b1e03e347,57142dae-a1df-4809-8fed-c9c45e8d7055,Serena-3,Reviewer,3,06:32.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
2,4,candidate@example.com,$2a$10$fOv2laVSpM4SRQxDC67iHOyDGgKs8PYEWgWRn4h...,NaN,2c5c616a47fd250dbf0f512080761d76aa8ad2ad,b918d277-2043-4ea8-ada2-5b85f5affb59,Serena-4,Candidate,4,06:32.3,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
3,5,user+1@example.com,$2a$10$Opasz4lDvhIfN5slJfRa1.676yi3bc9T2chczuI...,NaN,952555a2118511277289effe39efe33d29bc0f77,d6ee7298-0b54-4102-90be-08df9023b370,Serena-5,Williams,5,06:32.5,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
4,6,user+2@example.com,$2a$10$vW.koBUSaPvtIMMgC5JWzeIUzKjd.V0ngKoQMoH...,NaN,37caaed56fd204cd2d8c82d484e8ce4ae329bf4f,3e545517-00bc-4a64-9dd2-ea6d6920f7d2,Serena-6,Williams,6,06:32.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
5,7,user+4@example.com,$2a$10$kmC6EBwdObiLhbJjEYqSBu6O0xI7qHJQpdGZu5....,NaN,76278d0cd10d3c1a932f03ba04124dab860d38ac,748e1ce1-b909-4cfd-8576-391e85b39952,Serena-8,Williams,8,06:33.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
6,8,user+5@example.com,$2a$10$.2VGP5vlUmTs1aYXYP0p/ec5urdABYl16GRtNEG...,NaN,0529d45515b0c26bc648c1a1475eb7de6a98dcbc,9a983775-04ec-415d-9021-47c25918c2af,Serena-9,Williams,9,06:33.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
7,9,user+6@example.com,$2a$10$xyzrxYtsdcU5Syz1vUNJbe4dCgZ4ZWysGut3sIG...,NaN,655c611f89f37ea8e0ab88697fcb7deaa71787d5,f3a34225-15a7-4dec-a9ed-927836d7b3b7,Serena-10,Williams,10,06:33.3,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
8,19,user+18@example.com,$2a$10$nWaBq5zZ/NPhqaJZ51FVKOdhz./Rbxljbdleep5...,NaN,d319e8625d64fb9e789b3da2fe766a0dcc259525,93862dd0-c85e-4eb0-8876-f6f7362a9a72,Serena-22,Williams,22,06:34.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
9,11,user+8@example.com,$2a$10$F/hLKnH6zCNJu62f3vR46uWwsWKn3zQUs8c5.3b...,NaN,9fabaeac7584edd2adb2fd0e77587251a4a0bda5,ea6e54c9-329b-484b-9d8a-20ab668696d4,Serena-12,Williams,12,06:33.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
10,10,user+3@example.com,$2a$10$s959FmEiiPf3QnBjqJ934u/KtrM/eU5x4Qx5azp...,NaN,08657e892ccda50b06aa20c1c679672e6f98c209,e3dbf994-09fd-42c0-a55f-75c55c073349,Serena-7,Williams,7,06:33.4,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
11,12,user+10@example.com,$2a$10$2.JJ4jAuasMRnEh.HaXOS.8Ak4r.gUkdf2f1zn7...,NaN,82b36644c8b1b6ffadd18aedc06f9f715fe1dfea,6c4542c6-b726-45b3-a770-b4fb78533605,Serena-14,Williams,14,06:34.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
12,13,user+11@example.com,$2a$10$QjUu/4f7/gsEDk2Iwd2l9etvQ54J40FIlH97ZeU...,NaN,ace0a545f84a64dc4ecec1c09693f2eba706ca0f,42e62b8d-ce90-4c92-b424-22712d3cfc52,Serena-15,Williams,15,06:34.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
13,14,user+12@example.com,$2a$10$XdGG2vXPwJtjMLxHGmwweufhhDAHIo5q/MKRVgU...,NaN,ad8956ed7f302498e422b57b6b0be755ae762666,458fad31-b5d9-4ad2-88b7-14fe1e64e0f9,Serena-16,Williams,16,06:34.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
14,16,user+14@example.com,$2a$10$GsN25mkn6O3iWNUZPxlcleDqpoFhjZCOVOgQcPg...,NaN,9a6dac3fbbe0c2f7a87335b9098fd616cbb5c016,841284d2-d11f-4891-a87b-f35105b03e26,Serena-18,Williams,18,06:34.5,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
15,15,user+9@example.com,$2a$10$RYNUKjujskIER97TkPJ3kucLILPe6Qf0gwOHIj3...,NaN,fec8e393d3c05f272413ae89fd30226b1882c993,1ad35e97-7977-4532-89af-9d8803b7771e,Serena-13,Williams,13,06:34.3,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
16,17,user+16@example.com,$2a$10$K9tN5k9grTSYSaKKxVxiIu3oQ/kGdcyy2ZStoGF...,NaN,806aaa3837f32171bf15e2f76e1c8637d1568f10,74e3e4e9-048b-457b-8fed-bfba4211066c,Serena-20,Williams,20,06:34.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
17,18,user+17@example.com,$2a$10$0IKHiUv5pZ1I9QZP9JGF7O7XMTXUcaUssDCWGeG...,NaN,2c3828079b2a9e4bd98f502431408d0b44579360,bbeeb872-79d8-42bf-81c5-420b647a6cb2,Serena-21,Williams,21,06:34.8,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
18,23,user+23@example.com,$2a$10$.XiNQPY6DhP0BcttgNjwsu7njlWKTEL6gzvre0n...,NaN,305b016bc4e76640396afcaaecc8ba5264bc9c38,5b35ca63-d02a-4f8a-949d-448dd8f0ceab,Serena-27,Williams,27,06:35.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
19,21,user+20@example.com,$2a$10$lrwuZ4DKtHtYIa8JHXpWG.DEiY.PRPrxbowPWUt...,NaN,6fb2c89190539127b3e677879da9d467e2550a33,5de3831f-9c5d-4f54-9f01-705f1c3299ea,Serena-24,Williams,24,06:35.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
20,20,user+15@example.com,$2a$10$ZKblKIF10GaFQbF.mewPS.EFaoxfbFbRGpk6f0m...,NaN,52d5994c01900ca9dbb2ed5ba6c9bf8b87860010,99ff851f-8841-4424-92f6-f24ae83b22ef,Serena-19,Williams,19,06:35.0,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
21,22,user+22@example.com,$2a$10$dODxJWD4BdmlHgQuy/gfUuuChphsmz37tyCwk1y...,NaN,2f8801b0499e95d67593d7fe18bc5f7083a0aa75,35c44c19-82eb-4c78-9f68-ca37336d2829,Serena-26,Williams,26,06:35.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
22,24,user+24@example.com,$2a$10$A3xI.ILn3CD0QMKURUwzyu0OG.WsiGxAiew.xOW...,NaN,d012a8dabe8fb09370a48f8307f2d640325d809c,2c55fea5-82d9-4ee0-b231-fda559bc6cda,Serena-28,Williams,28,06:35.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
23,26,user+26@example.com,$2a$10$F35BAX5fu1v2yihvZNunWuBaDNsPA3BVmal.2gj...,NaN,44ef09b42198371c0325905896f2df72e35a0421,059a5089-9797-454c-a5fb-fc6f9e4bd22d,Serena-30,Williams,30,06:36.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
24,25,user+21@example.com,$2a$10$hVclX7y.9f9a54wTOItkYek7Y0acOmsaAeofQGV...,NaN,d09d7d2ca5d8a11ef478d64d3dfb37260bac6ee8,248e7c77-1569-4894-8f83-15764b3d739e,Serena-25,Williams,25,06:36.0,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
25,27,user+28@example.com,$2a$10$V.jaS3JcFPOUJCw6lcwP5.Oda5pC1xECJCvR7Jg...,NaN,2a550324e699106f628400d9b721a2496e47cc73,34b5a0f9-637b-4fed-a4b6-22c92563cde5,Serena-32,Williams,32,06:36.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
26,28,user+29@example.com,$2a$10$ZA/p0m8raPuI3PJjDzzqCeV8fur3yfBti/idnu3...,NaN,ca2b605a43c59f0aa12e21880db92e7f0b50b5c1,c151de35-a724-4747-beb3-6255fa53537d,Serena-33,Williams,33,06:36.5,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
27,29,user+30@example.com,$2a$10$ZSqomq5eAmVprrNWJeC.xOsrIZPh0T1oWLIWSEY...,NaN,8de0e4a3f6a779b1b1f905f67a8506522eb74d30,3df08770-60d1-48b1-b30d-63c334f913aa,Serena-34,Williams,34,06:36.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
28,31,user+32@example.com,$2a$10$7X6GwQ8jNAZejLlS3qB4q.zG2jUoF9l9fIGAyn/...,NaN,4b96efe8be692369ce0c893eab0468e07cbe4e63,fb526bec-0eb4-4845-912d-45e48ee03e6f,Serena-36,Williams,36,06:37.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
29,30,user+27@example.com,$2a$10$gRUAdSvYP0bnVGvDjON8i.ebACR68ooPkF.SpOp...,NaN,52fd4ad48d46d2cf7a8ecf402c766a58c3c17e36,fd1abced-03cf-47d6-8b3e-63aeb433b374,Serena-31,Williams,31,06:36.7,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,677,user+806@example.com,$2a$10$RveH90ulsh5UBVsRxiQ/Eetd4RY.PmAdxaKVS5M...,NaN,cb3ea0637af74ce465a29c85db96f9a24ab31990,83af3c1c-6d62-4916-bedd-cc42ac9f9bea,Serena-810,Williams,810,08:09.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
677,681,user+811@example.com,$2a$10$GH7o302ZnHG5gwpf5Wflw.0JxzBXh5KUvPTOoHR...,NaN,1c9bfcf9ae24edcc068c7612ec4e2183b1e417d7,c343561c-6df4-40a0-8e93-c3b27e8707af,Serena-815,Williams,815,08:10.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
678,678,user+803@example.com,$2a$10$DgzIgBFnLQvtW3yyllcizeEHBR5WtB72PMVczqX...,NaN,ad2dad6a73c5131f76ebf1266ddaebadc74712d1,f42f981e-e18f-4fad-807f-309031af326c,Serena-807,Williams,807,08:10.0,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
679,679,user+809@example.com,$2a$10$FRbMR73Q2wrDVDoxA9Htief2nh4kaRPZGbcMjax...,NaN,d5539fab3136ccc7555c8e28a8751fa02577df93,65134608-9286-4766-a561-42ff89c37ee8,Serena-813,Williams,813,08:10.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
680,684,user+815@example.com,$2a$10$mj5GaKCQLgVijZUwZ93TvOEUqD2Dw.5dty5j.TK...,NaN,02142d09dd55540a33762ed902fdc1f93ea95d40,4208a33e-dacc-47aa-a595-6a955cf67d61,Serena-819,Williams,819,08:10.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
681,682,user+808@example.com,$2a$10$7Tc5fpd3jTkQ2GbU/rqSdeCnXFqdfeiTliZSNBl...,NaN,b9b14d8c134194c65226fd613e36e23f775fdc86,c5de57f5-275c-46f9-b0ee-67c590ce1ad8,Serena-812,Williams,812,08:10.5,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
682,683,user+814@example.com,$2a$10$//03dByEQqpqG8/rRf4VtOt6fr/lN4ciixTFCRS...,NaN,357927d3f85801e0a10edb8e8b92a507b99a5b2c,f0373caf-8eda-4c5e-aa78-edcf4f0d8037,Serena-818,Williams,818,08:10.8,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
683,685,user+816@example.com,$2a$10$Nggi4Zno/59/vlI6lOdb6OMdgtjjdGavndUNc6d...,NaN,08889551aaf0af05d4ef2937e1cedf9160b4f470,8c51840e-dc89-4c37-a1fd-7b73e065f975,Serena-820,Williams,820,08:11.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
684,698,user+828@example.com,$2a$10$ez.cxTl4N6VC0te1OteGyO7IleNxK8/V8vyYjf3...,NaN,94cb83b56f4b7351f4acc1c3bab2119f3809964c,22efd03d-a311-4ce1-8b99-e12071cb80bc,Serena-832,Williams,832,08:12.8,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
685,686,user+813@example.com,$2a$10$/QywIHTkAWXYcQF9gBvegOmBK8jGVIo1U/eZMLj...,NaN,8367859d45ba696843fb19e4122d01df3afc22cf,b98a6a54-a70c-4e90-a051-9015c8567d9e,Serena-817,Williams,817,08:11.1,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
686,687,user+819@example.com,$2a$10$GGSHwu7aXvOxQ8y5TDGyuOeT0CVFtRThnoBrM28...,NaN,c5d8f92d5790f9f0c49b84431a1e6fcddc484443,b0c899a8-3ff1-43bc-91b6-ce71acd8c0fe,Serena-823,Williams,823,08:11.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
687,688,user+820@example.com,$2a$10$9nQq1iwRpquoLfwR8ITDWOA1iPUcjV9hTsH9nDR...,NaN,74d1272b0ff4b7be51a610c75c27b2657de232e4,59a35184-f996-400e-9baa-5e769ffe7836,Serena-824,Williams,824,08:11.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
688,689,user+821@example.com,$2a$10$Y2/b1r/5rygYFj8M2hEcFOv9JhY74RlP6US0Dxj...,NaN,7463303f7df0ba46eb65ae6cece07a4f71d313fe,7650a1a9-bf54-4f25-aa92-96ff4424c181,Serena-825,Williams,825,08:11.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
689,699,user+834@example.com,$2a$10$MkOwck96YCNTpTeNm4H7a.vX2xIc97G5Vj3krri...,NaN,8733d4a4080e9e01e4d030a8dae501ecd4ec5f97,56058aa3-b2d3-433d-91a0-473ed8b1e043,Serena-838,Williams,838,08:13.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
690,690,user+818@example.com,$2a$10$8J4Vr3bWOiUyirq.Ijrq9OCKh12RfFLPTkk3YSw...,NaN,1491320155b836d6a38a10b0fc3ebcc4897665f8,26a30b89-4ac4-4993-96b2-b50dc1405067,Serena-822,Williams,822,08:11.7,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
691,691,user+824@example.com,$2a$10$ULipT9XNkSlfoXG2kYiywea2qZB866UYqGMA2hA...,NaN,1dc05cb11909fce40c54d297ef84255aa3d1f713,81b16556-854b-4191-b766-014067f26700,Serena-828,Williams,828,08:11.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
692,692,user+825@example.com,$2a$10$6G53iq1XuW6l3oFGwdErv.qHqHOOEYlmx0U3cZO...,NaN,f848f5a6a14794566f7e9b702f2db364f91d95bc,fbbf2d01-6f42-4a13-a5cf-20c176b4775b,Serena-829,Williams,829,08:12.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
693,693,user+826@example.com,$2a$10$BtrvHXEaXYzslZ.PTt5wTegPSN7Xucy3RpOpjQg...,NaN,6506ca8bf646859653dddb9387637daf97771304,675c1956-34bf-4b07-b358-d6af49fd5528,Serena-830,Williams,830,08:12.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
694,700,user+835@example.com,$2a$10$ZTTbyaZir2fs9lqttUhhxu6tJDgOLTcdv0Ie8FK...,NaN,fa540a3c77cb4b8aa66c673f5eac505f70f1a170,050b1e2a-99ab-47ae-8412-0c9dce2b89d0,Serena-839,Williams,839,08:13.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
695,694,user+823@example.com,$2a$10$rBDg3T2V1adBqfUuBzKmUeRFHRWi.GSdnDBtn6S...,NaN,e898c56cb3b3089d17b798f25faefc0e1aeab5d0,8fcf3c96-f494-4b85-b725-931c2f595a6c,Serena-827,Williams,827,08:12.2,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
696,695,user+829@example.com,$2a$10$d/LYyXS3t7.6fhr0VHaVv.8wwrc6crmPZr4Xix....,NaN,ad6a79acbd3674754b0217e520468a6e9975b157,276b3a1a-6dc2-40b7-a597-ecc45e5195d6,Serena-833,Williams,833,08:12.5,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
697,696,user+830@example.com,$2a$10$bl/5S35hOBAr7O33DYwyJunhKII.qhZGykOy.XD...,NaN,c136da4a50ca96ea19bd973fb4bf3602fdb1d006,657e7f0e-da73-49f7-a856-28a0e9dd558b,Serena-834,Williams,834,08:12.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
698,697,user+831@example.com,$2a$10$iRANc/FuR1FBy8RKowbRGOx7d2qsaETGZVdRUjt...,NaN,4a255bd5834268807ec9b591fb42b1c273bb7bef,466aea77-7f72-47dd-9e9f-d7a64d8f3f43,Serena-835,Williams,835,08:12.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
699,704,user+840@example.com,$2a$10$C63mHEzSPCQsRFYc70YHBe5SeVabaDYxOK/t9kv...,NaN,7ae2e06d63b5eb81ffebd373d1f238c030a310ed,4652131a-6bfd-4e7c-a694-13ab53c4922e,Serena-844,Williams,844,08:13.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
700,701,user+836@example.com,$2a$10$0iNXipNMDwLWo11pLTEkY.ixPTWcEbZXStiLiNT...,NaN,ea08948d594133a1329818bcf55e9d4ea47a43b6,f6a5321d-4930-4871-9bf0-6066f57b8453,Serena-840,Williams,840,08:13.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
701,705,user+841@example.com,$2a$10$.1KJ7MzNVwdvBjn.nCRZGOVkvKPAcK2FLG6HsGu...,NaN,aa9602aaf63581ca11d0f2ff7efd961dfe98753a,17225486-bfaa-4b41-b5b9-624fa667b3fb,Serena-845,Williams,845,08:13.8,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
702,702,user+833@example.com,$2a$10$5CVsmhjsFxWIpS7Vs6Sx1ebU746NuBS5ANOD.0a...,NaN,5c9e7cb6488120070811cec5ee09e036849d32e8,7864d672-1a15-43b4-8a6f-8f2277567989,Serena-837,Williams,837,08:13.3,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
703,703,user+839@example.com,$2a$10$5PmRjuzNXGGhOIYjE.yFwe6BRLpDjETnVVtblY....,NaN,b9781442fd98ab06e6cf19f4d4f6a83eabb80346,7bd5fea5-9d4e-4c81-9189-55d7397b0368,Serena-843,Williams,843,08:13.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
704,2,employer@example.com,$2a$10$skWHT5Zqrg/HxKlw764F0uBX8dWDRjbvwT1Gx77...,NaN,ac3ef4478b0b6dfb2014ee0dd5bc60b560be6ff8,149c120a-6515-42f4-b048-bfa2e2212e0c,Serena-2,Employer,2,06:32.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
705,706,user+838@example.com,$2a$10$XFKLkl78hhyjBs7TwZIMuO7.4OYH9yq2xYxwiIg...,NaN,20716013d1e6f5a970c1f57396089a83125b5108,c4a7ce15-5263-4ff5-acab-bedbaa0e24e2,Serena-842,Williams,842,08:13.9,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token

In [164]:
# rename columns
user_data.rename(columns={"email": "user_email"})

,id,user_email,encrypted_password,confirmation_token,remember_token,legacy_uuid,first_name,last_name,legacy_candidate_id,created_at,...,military_status,race,last_signed_in_at,admin,marketable,legacy_resume_exists,professional_networkable,deleted_at,legacy_profile_photo_exists,apns_token
0,1,admin@example.com,$2a$10$T0wZEFd2JbQN85MpDv23mOIBS8lCfAvziP7dq7H...,NaN,443f399785737bd175a6ba6f9f1a0b3f6e51462f,f1bcf436-944a-48f5-8e95-25993f484359,Serena-1,Williams,1,06:30.8,...,NaN,NaN,NaN,t,f,f,t,NaN,f,token
1,3,reviewer@example.com,$2a$10$MMO0RTfsu5X.Dj.nu.eyqeLVpYTYTYZvyl6QJPd...,NaN,83f6a0a68bc21451082747617123c01b1e03e347,57142dae-a1df-4809-8fed-c9c45e8d7055,Serena-3,Reviewer,3,06:32.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
2,4,candidate@example.com,$2a$10$fOv2laVSpM4SRQxDC67iHOyDGgKs8PYEWgWRn4h...,NaN,2c5c616a47fd250dbf0f512080761d76aa8ad2ad,b918d277-2043-4ea8-ada2-5b85f5affb59,Serena-4,Candidate,4,06:32.3,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
3,5,user+1@example.com,$2a$10$Opasz4lDvhIfN5slJfRa1.676yi3bc9T2chczuI...,NaN,952555a2118511277289effe39efe33d29bc0f77,d6ee7298-0b54-4102-90be-08df9023b370,Serena-5,Williams,5,06:32.5,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
4,6,user+2@example.com,$2a$10$vW.koBUSaPvtIMMgC5JWzeIUzKjd.V0ngKoQMoH...,NaN,37caaed56fd204cd2d8c82d484e8ce4ae329bf4f,3e545517-00bc-4a64-9dd2-ea6d6920f7d2,Serena-6,Williams,6,06:32.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
5,7,user+4@example.com,$2a$10$kmC6EBwdObiLhbJjEYqSBu6O0xI7qHJQpdGZu5....,NaN,76278d0cd10d3c1a932f03ba04124dab860d38ac,748e1ce1-b909-4cfd-8576-391e85b39952,Serena-8,Williams,8,06:33.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
6,8,user+5@example.com,$2a$10$.2VGP5vlUmTs1aYXYP0p/ec5urdABYl16GRtNEG...,NaN,0529d45515b0c26bc648c1a1475eb7de6a98dcbc,9a983775-04ec-415d-9021-47c25918c2af,Serena-9,Williams,9,06:33.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
7,9,user+6@example.com,$2a$10$xyzrxYtsdcU5Syz1vUNJbe4dCgZ4ZWysGut3sIG...,NaN,655c611f89f37ea8e0ab88697fcb7deaa71787d5,f3a34225-15a7-4dec-a9ed-927836d7b3b7,Serena-10,Williams,10,06:33.3,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
8,19,user+18@example.com,$2a$10$nWaBq5zZ/NPhqaJZ51FVKOdhz./Rbxljbdleep5...,NaN,d319e8625d64fb9e789b3da2fe766a0dcc259525,93862dd0-c85e-4eb0-8876-f6f7362a9a72,Serena-22,Williams,22,06:34.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
9,11,user+8@example.com,$2a$10$F/hLKnH6zCNJu62f3vR46uWwsWKn3zQUs8c5.3b...,NaN,9fabaeac7584edd2adb2fd0e77587251a4a0bda5,ea6e54c9-329b-484b-9d8a-20ab668696d4,Serena-12,Williams,12,06:33.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
10,10,user+3@example.com,$2a$10$s959FmEiiPf3QnBjqJ934u/KtrM/eU5x4Qx5azp...,NaN,08657e892ccda50b06aa20c1c679672e6f98c209,e3dbf994-09fd-42c0-a55f-75c55c073349,Serena-7,Williams,7,06:33.4,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
11,12,user+10@example.com,$2a$10$2.JJ4jAuasMRnEh.HaXOS.8Ak4r.gUkdf2f1zn7...,NaN,82b36644c8b1b6ffadd18aedc06f9f715fe1dfea,6c4542c6-b726-45b3-a770-b4fb78533605,Serena-14,Williams,14,06:34.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
12,13,user+11@example.com,$2a$10$QjUu/4f7/gsEDk2Iwd2l9etvQ54J40FIlH97ZeU...,NaN,ace0a545f84a64dc4ecec1c09693f2eba706ca0f,42e62b8d-ce90-4c92-b424-22712d3cfc52,Serena-15,Williams,15,06:34.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
13,14,user+12@example.com,$2a$10$XdGG2vXPwJtjMLxHGmwweufhhDAHIo5q/MKRVgU...,NaN,ad8956ed7f302498e422b57b6b0be755ae762666,458fad31-b5d9-4ad2-88b7-14fe1e64e0f9,Serena-16,Williams,16,06:34.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
14,16,user+14@example.com,$2a$10$GsN25mkn6O3iWNUZPxlcleDqpoFhjZCOVOgQcPg...,NaN,9a6dac3fbbe0c2f7a87335b9098fd616cbb5c016,841284d2-d11f-4891-a87b-f35105b03e26,Serena-18,Williams,18,06:34.5,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
15,15,user+9@example.com,$2a$10$RYNUKjujskIER97TkPJ3kucLILPe6Qf0gwOHIj3...,NaN,fec8e393d3c05f272413ae89fd30226b1882c993,1ad35e97-7977-4532-89af-9d8803b7771e,Serena-13,Williams,13,06:34.3,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
16,17,user+16@example.com,$2a$10$K9tN5k9grTSYSaKKxVxiIu3oQ/kGdcyy2ZStoGF...,NaN,806aaa3837f32171bf15e2f76e1c8637d1568f10,74e3e4e9-048b-457b-8fed-bfba4211066c,Serena-20,Williams,20,06:34.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
17,18,user+17@example.com,$2a$10$0IKHiUv5pZ1I9QZP9JGF7O7XMTXUcaUssDCWGeG...,NaN,2c3828079b2a9e4bd98f502431408d0b44579360,bbeeb872-79d8-42bf-81c5-420b647a6cb2,Serena-21,Williams,21,06:34.8,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
18,23,user+23@example.com,$2a$10$.XiNQPY6DhP0BcttgNjwsu7njlWKTEL6gzvre0n...,NaN,305b016bc4e76640396afcaaecc8ba5264bc9c38,5b35ca63-d02a-4f8a-949d-448dd8f0ceab,Serena-27,Williams,27,06:35.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
19,21,user+20@example.com,$2a$10$lrwuZ4DKtHtYIa8JHXpWG.DEiY.PRPrxbowPWUt...,NaN,6fb2c89190539127b3e677879da9d467e2550a33,5de3831f-9c5d-4f54-9f01-705f1c3299ea,Serena-24,Williams,24,06:35.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
20,20,user+15@example.com,$2a$10$ZKblKIF10GaFQbF.mewPS.EFaoxfbFbRGpk6f0m...,NaN,52d5994c01900ca9dbb2ed5ba6c9bf8b87860010,99ff851f-8841-4424-92f6-f24ae83b22ef,Serena-19,Williams,19,06:35.0,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
21,22,user+22@example.com,$2a$10$dODxJWD4BdmlHgQuy/gfUuuChphsmz37tyCwk1y...,NaN,2f8801b0499e95d67593d7fe18bc5f7083a0aa75,35c44c19-82eb-4c78-9f68-ca37336d2829,Serena-26,Williams,26,06:35.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
22,24,user+24@example.com,$2a$10$A3xI.ILn3CD0QMKURUwzyu0OG.WsiGxAiew.xOW...,NaN,d012a8dabe8fb09370a48f8307f2d640325d809c,2c55fea5-82d9-4ee0-b231-fda559bc6cda,Serena-28,Williams,28,06:35.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
23,26,user+26@example.com,$2a$10$F35BAX5fu1v2yihvZNunWuBaDNsPA3BVmal.2gj...,NaN,44ef09b42198371c0325905896f2df72e35a0421,059a5089-9797-454c-a5fb-fc6f9e4bd22d,Serena-30,Williams,30,06:36.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
24,25,user+21@example.com,$2a$10$hVclX7y.9f9a54wTOItkYek7Y0acOmsaAeofQGV...,NaN,d09d7d2ca5d8a11ef478d64d3dfb37260bac6ee8,248e7c77-1569-4894-8f83-15764b3d739e,Serena-25,Williams,25,06:36.0,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
25,27,user+28@example.com,$2a$10$V.jaS3JcFPOUJCw6lcwP5.Oda5pC1xECJCvR7Jg...,NaN,2a550324e699106f628400d9b721a2496e47cc73,34b5a0f9-637b-4fed-a4b6-22c92563cde5,Serena-32,Williams,32,06:36.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
26,28,user+29@example.com,$2a$10$ZA/p0m8raPuI3PJjDzzqCeV8fur3yfBti/idnu3...,NaN,ca2b605a43c59f0aa12e21880db92e7f0b50b5c1,c151de35-a724-4747-beb3-6255fa53537d,Serena-33,Williams,33,06:36.5,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
27,29,user+30@example.com,$2a$10$ZSqomq5eAmVprrNWJeC.xOsrIZPh0T1oWLIWSEY...,NaN,8de0e4a3f6a779b1b1f905f67a8506522eb74d30,3df08770-60d1-48b1-b30d-63c334f913aa,Serena-34,Williams,34,06:36.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
28,31,user+32@example.com,$2a$10$7X6GwQ8jNAZejLlS3qB4q.zG2jUoF9l9fIGAyn/...,NaN,4b96efe8be692369ce0c893eab0468e07cbe4e63,fb526bec-0eb4-4845-912d-45e48ee03e6f,Serena-36,Williams,36,06:37.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
29,30,user+27@example.com,$2a$10$gRUAdSvYP0bnVGvDjON8i.ebACR68ooPkF.SpOp...,NaN,52fd4ad48d46d2cf7a8ecf402c766a58c3c17e36,fd1abced-03cf-47d6-8b3e-63aeb433b374,Serena-31,Williams,31,06:36.7,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676,677,user+806@example.com,$2a$10$RveH90ulsh5UBVsRxiQ/Eetd4RY.PmAdxaKVS5M...,NaN,cb3ea0637af74ce465a29c85db96f9a24ab31990,83af3c1c-6d62-4916-bedd-cc42ac9f9bea,Serena-810,Williams,810,08:09.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
677,681,user+811@example.com,$2a$10$GH7o302ZnHG5gwpf5Wflw.0JxzBXh5KUvPTOoHR...,NaN,1c9bfcf9ae24edcc068c7612ec4e2183b1e417d7,c343561c-6df4-40a0-8e93-c3b27e8707af,Serena-815,Williams,815,08:10.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
678,678,user+803@example.com,$2a$10$DgzIgBFnLQvtW3yyllcizeEHBR5WtB72PMVczqX...,NaN,ad2dad6a73c5131f76ebf1266ddaebadc74712d1,f42f981e-e18f-4fad-807f-309031af326c,Serena-807,Williams,807,08:10.0,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
679,679,user+809@example.com,$2a$10$FRbMR73Q2wrDVDoxA9Htief2nh4kaRPZGbcMjax...,NaN,d5539fab3136ccc7555c8e28a8751fa02577df93,65134608-9286-4766-a561-42ff89c37ee8,Serena-813,Williams,813,08:10.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
680,684,user+815@example.com,$2a$10$mj5GaKCQLgVijZUwZ93TvOEUqD2Dw.5dty5j.TK...,NaN,02142d09dd55540a33762ed902fdc1f93ea95d40,4208a33e-dacc-47aa-a595-6a955cf67d61,Serena-819,Williams,819,08:10.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
681,682,user+808@example.com,$2a$10$7Tc5fpd3jTkQ2GbU/rqSdeCnXFqdfeiTliZSNBl...,NaN,b9b14d8c134194c65226fd613e36e23f775fdc86,c5de57f5-275c-46f9-b0ee-67c590ce1ad8,Serena-812,Williams,812,08:10.5,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
682,683,user+814@example.com,$2a$10$//03dByEQqpqG8/rRf4VtOt6fr/lN4ciixTFCRS...,NaN,357927d3f85801e0a10edb8e8b92a507b99a5b2c,f0373caf-8eda-4c5e-aa78-edcf4f0d8037,Serena-818,Williams,818,08:10.8,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
683,685,user+816@example.com,$2a$10$Nggi4Zno/59/vlI6lOdb6OMdgtjjdGavndUNc6d...,NaN,08889551aaf0af05d4ef2937e1cedf9160b4f470,8c51840e-dc89-4c37-a1fd-7b73e065f975,Serena-820,Williams,820,08:11.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
684,698,user+828@example.com,$2a$10$ez.cxTl4N6VC0te1OteGyO7IleNxK8/V8vyYjf3...,NaN,94cb83b56f4b7351f4acc1c3bab2119f3809964c,22efd03d-a311-4ce1-8b99-e12071cb80bc,Serena-832,Williams,832,08:12.8,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
685,686,user+813@example.com,$2a$10$/QywIHTkAWXYcQF9gBvegOmBK8jGVIo1U/eZMLj...,NaN,8367859d45ba696843fb19e4122d01df3afc22cf,b98a6a54-a70c-4e90-a051-9015c8567d9e,Serena-817,Williams,817,08:11.1,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
686,687,user+819@example.com,$2a$10$GGSHwu7aXvOxQ8y5TDGyuOeT0CVFtRThnoBrM28...,NaN,c5d8f92d5790f9f0c49b84431a1e6fcddc484443,b0c899a8-3ff1-43bc-91b6-ce71acd8c0fe,Serena-823,Williams,823,08:11.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
687,688,user+820@example.com,$2a$10$9nQq1iwRpquoLfwR8ITDWOA1iPUcjV9hTsH9nDR...,NaN,74d1272b0ff4b7be51a610c75c27b2657de232e4,59a35184-f996-400e-9baa-5e769ffe7836,Serena-824,Williams,824,08:11.4,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
688,689,user+821@example.com,$2a$10$Y2/b1r/5rygYFj8M2hEcFOv9JhY74RlP6US0Dxj...,NaN,7463303f7df0ba46eb65ae6cece07a4f71d313fe,7650a1a9-bf54-4f25-aa92-96ff4424c181,Serena-825,Williams,825,08:11.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
689,699,user+834@example.com,$2a$10$MkOwck96YCNTpTeNm4H7a.vX2xIc97G5Vj3krri...,NaN,8733d4a4080e9e01e4d030a8dae501ecd4ec5f97,56058aa3-b2d3-433d-91a0-473ed8b1e043,Serena-838,Williams,838,08:13.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
690,690,user+818@example.com,$2a$10$8J4Vr3bWOiUyirq.Ijrq9OCKh12RfFLPTkk3YSw...,NaN,1491320155b836d6a38a10b0fc3ebcc4897665f8,26a30b89-4ac4-4993-96b2-b50dc1405067,Serena-822,Williams,822,08:11.7,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
691,691,user+824@example.com,$2a$10$ULipT9XNkSlfoXG2kYiywea2qZB866UYqGMA2hA...,NaN,1dc05cb11909fce40c54d297ef84255aa3d1f713,81b16556-854b-4191-b766-014067f26700,Serena-828,Williams,828,08:11.9,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
692,692,user+825@example.com,$2a$10$6G53iq1XuW6l3oFGwdErv.qHqHOOEYlmx0U3cZO...,NaN,f848f5a6a14794566f7e9b702f2db364f91d95bc,fbbf2d01-6f42-4a13-a5cf-20c176b4775b,Serena-829,Williams,829,08:12.0,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
693,693,user+826@example.com,$2a$10$BtrvHXEaXYzslZ.PTt5wTegPSN7Xucy3RpOpjQg...,NaN,6506ca8bf646859653dddb9387637daf97771304,675c1956-34bf-4b07-b358-d6af49fd5528,Serena-830,Williams,830,08:12.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
694,700,user+835@example.com,$2a$10$ZTTbyaZir2fs9lqttUhhxu6tJDgOLTcdv0Ie8FK...,NaN,fa540a3c77cb4b8aa66c673f5eac505f70f1a170,050b1e2a-99ab-47ae-8412-0c9dce2b89d0,Serena-839,Williams,839,08:13.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
695,694,user+823@example.com,$2a$10$rBDg3T2V1adBqfUuBzKmUeRFHRWi.GSdnDBtn6S...,NaN,e898c56cb3b3089d17b798f25faefc0e1aeab5d0,8fcf3c96-f494-4b85-b725-931c2f595a6c,Serena-827,Williams,827,08:12.2,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
696,695,user+829@example.com,$2a$10$d/LYyXS3t7.6fhr0VHaVv.8wwrc6crmPZr4Xix....,NaN,ad6a79acbd3674754b0217e520468a6e9975b157,276b3a1a-6dc2-40b7-a597-ecc45e5195d6,Serena-833,Williams,833,08:12.5,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
697,696,user+830@example.com,$2a$10$bl/5S35hOBAr7O33DYwyJunhKII.qhZGykOy.XD...,NaN,c136da4a50ca96ea19bd973fb4bf3602fdb1d006,657e7f0e-da73-49f7-a856-28a0e9dd558b,Serena-834,Williams,834,08:12.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
698,697,user+831@example.com,$2a$10$iRANc/FuR1FBy8RKowbRGOx7d2qsaETGZVdRUjt...,NaN,4a255bd5834268807ec9b591fb42b1c273bb7bef,466aea77-7f72-47dd-9e9f-d7a64d8f3f43,Serena-835,Williams,835,08:12.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
699,704,user+840@example.com,$2a$10$C63mHEzSPCQsRFYc70YHBe5SeVabaDYxOK/t9kv...,NaN,7ae2e06d63b5eb81ffebd373d1f238c030a310ed,4652131a-6bfd-4e7c-a694-13ab53c4922e,Serena-844,Williams,844,08:13.7,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
700,701,user+836@example.com,$2a$10$0iNXipNMDwLWo11pLTEkY.ixPTWcEbZXStiLiNT...,NaN,ea08948d594133a1329818bcf55e9d4ea47a43b6,f6a5321d-4930-4871-9bf0-6066f57b8453,Serena-840,Williams,840,08:13.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
701,705,user+841@example.com,$2a$10$.1KJ7MzNVwdvBjn.nCRZGOVkvKPAcK2FLG6HsGu...,NaN,aa9602aaf63581ca11d0f2ff7efd961dfe98753a,17225486-bfaa-4b41-b5b9-624fa667b3fb,Serena-845,Williams,845,08:13.8,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
702,702,user+833@example.com,$2a$10$5CVsmhjsFxWIpS7Vs6Sx1ebU746NuBS5ANOD.0a...,NaN,5c9e7cb6488120070811cec5ee09e036849d32e8,7864d672-1a15-43b4-8a6f-8f2277567989,Serena-837,Williams,837,08:13.3,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token
703,703,user+839@example.com,$2a$10$5PmRjuzNXGGhOIYjE.yFwe6BRLpDjETnVVtblY....,NaN,b9781442fd98ab06e6cf19f4d4f6a83eabb80346,7bd5fea5-9d4e-4c81-9189-55d7397b0368,Serena-843,Williams,843,08:13.6,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
704,2,employer@example.com,$2a$10$skWHT5Zqrg/HxKlw764F0uBX8dWDRjbvwT1Gx77...,NaN,ac3ef4478b0b6dfb2014ee0dd5bc60b560be6ff8,149c120a-6515-42f4-b048-bfa2e2212e0c,Serena-2,Employer,2,06:32.1,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
705,706,user+838@example.com,$2a$10$XFKLkl78hhyjBs7TwZIMuO7.4OYH9yq2xYxwiIg...,NaN,20716013d1e6f5a970c1f57396089a83125b5108,c4a7ce15-5263-4ff5-acab-bedbaa0e24e2,Serena-842,Williams,842,08:13.9,...,1.0,5.0,NaN,f,f,f,t,NaN,f,token

In [173]:
# Search table for string
user_data[user_data.email.str.contains("reviewer")]

,id,email,encrypted_password,confirmation_token,remember_token,legacy_uuid,first_name,last_name,legacy_candidate_id,created_at,...,military_status,race,last_signed_in_at,admin,marketable,legacy_resume_exists,professional_networkable,deleted_at,legacy_profile_photo_exists,apns_token
1,3,reviewer@example.com,$2a$10$MMO0RTfsu5X.Dj.nu.eyqeLVpYTYTYZvyl6QJPd...,NaN,83f6a0a68bc21451082747617123c01b1e03e347,57142dae-a1df-4809-8fed-c9c45e8d7055,Serena-3,Reviewer,3,06:32.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token

In [176]:
import re
# Search table for string
user_data[user_data.email.str.match(re.compile("reviewer|admin|candidate"))]

,id,email,encrypted_password,confirmation_token,remember_token,legacy_uuid,first_name,last_name,legacy_candidate_id,created_at,...,military_status,race,last_signed_in_at,admin,marketable,legacy_resume_exists,professional_networkable,deleted_at,legacy_profile_photo_exists,apns_token
0,1,admin@example.com,$2a$10$T0wZEFd2JbQN85MpDv23mOIBS8lCfAvziP7dq7H...,NaN,443f399785737bd175a6ba6f9f1a0b3f6e51462f,f1bcf436-944a-48f5-8e95-25993f484359,Serena-1,Williams,1,06:30.8,...,NaN,NaN,NaN,t,f,f,t,NaN,f,token
1,3,reviewer@example.com,$2a$10$MMO0RTfsu5X.Dj.nu.eyqeLVpYTYTYZvyl6QJPd...,NaN,83f6a0a68bc21451082747617123c01b1e03e347,57142dae-a1df-4809-8fed-c9c45e8d7055,Serena-3,Reviewer,3,06:32.2,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token
2,4,candidate@example.com,$2a$10$fOv2laVSpM4SRQxDC67iHOyDGgKs8PYEWgWRn4h...,NaN,2c5c616a47fd250dbf0f512080761d76aa8ad2ad,b918d277-2043-4ea8-ada2-5b85f5affb59,Serena-4,Candidate,4,06:32.3,...,NaN,NaN,NaN,f,f,f,t,NaN,f,token

In [194]:
# merging data 

new_frame = pd.DataFrame(new_data)
print(new_frame.merge(frame))

    state  year  pop   status
0    Ohio  2000  1.5  Unknown
1    Ohio  2001  1.7  Unknown
2    Ohio  2002  3.6  Unknown
3  Nevada  2001  2.4  Unknown
4  Nevada  2002  2.9  Unknown
5  Nevada  2003  3.2  Unknown